# Environment file with secrets
.env

# Generated data from the python script
/generated_data/

# Dependencies (downloaded JARs)
/jars/

# Runtime data and log folders
/hadoop_data/
/postgres_data_p2/

# Log files
*.log
derby.log

# Scala/sbt build folders and artifacts
/spark-apps/target/
/spark-apps/project/
/spark-apps/metastore_db/

# IDE and OS specific files
.idea/
.vscode/
__pycache__/
*.pyc